*{
    margin: 0;
    padding: 0;
}
:root{
    --color:purple;
    --height:8vh;
}
#logo{
    margin: 0px;
    margin-bottom: 2px;
    color: aliceblue;
    background-color: purple;
    font-weight: lighter;
    font-size: 2em;
    width: 100vw;
    height: var(--height);
    font-family: 'Segoe UI','Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
}
NavLink{
    text-decoration: none;
}
.item {
    text-transform: capitalize;
    box-sizing: border-box;
    background: var(--color);
    background-repeat: no-repeat;
    height: var(--height);
    width: 100px; /* Adjusted width */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Georgia, Times, 'Times New Roman', serif;
    color: white;
    font-size: medium;
}


.nav-container{
    box-sizing: border-box;
    width: 100%;
    height: var(--height);
    background: var(--color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.item:hover{
    cursor: pointer;
    /* background: rgba(28, 27, 27, 0.736); */
    transform: scale(0.8);

}
.active{
    color: greenyellow;
}

.tooltip {
    visibility: hidden;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

.item:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

